# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [9]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key
print(g_key)

AIzaSyA_BHrQzJ_iMnLvgdQgO-Dmxp_jnRc2NuU

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [7]:

cities_df = pd.read_csv('../output_data/cities_t.csv')
cities_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Putina,-15.4667,-69.4333,43.75,83,2,6.89,PE,1618706364
1,Banda Aceh,5.5577,95.3222,81.39,75,74,6.53,ID,1618706365
2,Vaini,-21.2000,-175.2000,80.60,69,20,5.75,TO,1618706248
3,Rikitea,-23.1203,-134.9692,77.40,68,50,5.35,PF,1618706365
4,Ballina,-28.8667,153.5667,68.00,68,90,12.66,AU,1618706365
...,...,...,...,...,...,...,...,...,...
582,Sussex,41.1834,-74.6663,50.00,53,90,4.61,US,1618706559
583,Akureyri,65.6835,-18.0878,37.40,100,75,4.61,IS,1618706559
584,Bhan,26.5583,67.7214,83.30,36,60,8.23,PK,1618706560
585,Nyurba,63.2842,118.3319,14.13,83,100,12.17,RU,1618706560
586,Hamilton,39.1834,-84.5333,51.01,80,80,2.26,US,1618706305

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [12]:
gmaps.configure(api_key=g_key)
locations = cities_df[['Lat', 'Lng']].astype(float)
humidity = cities_df['Humidity'].astype(float)

In [15]:
# Create a poverty Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [38]:
cities_temp_df = cities_df[(cities_df['Max Temp'] >= 70) & (cities_df['Max Temp'] <= 80)]
cities_temp_ws_df = cities_temp_df[(cities_temp_df['Wind Speed'] < 10) & (cities_temp_df['Cloudiness'] == 0)]
# cities_temp_df.to_csv('../output_data/cities_maxtemp.csv', index=False)
cities_temp_ws_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
83,Umluj,25.0213,37.2685,79.32,58,0,1.90,SA,1618706392
178,São Filipe,14.8961,-24.4956,71.67,73,0,9.84,CV,1618706424
242,Salalah,17.0151,54.0924,77.00,50,0,4.61,OM,1618706444
253,Safaga,26.7292,33.9365,77.67,39,0,6.49,EG,1618706447
338,Pitimbu,-7.4706,-34.8086,73.40,100,0,5.75,BR,1618706475
343,Aswān,24.0934,32.9070,75.79,23,0,7.54,EG,1618706268
386,Maricá,-22.9194,-42.8186,78.01,83,0,2.30,BR,1618706491
497,Kondagaon,19.6000,81.6667,77.27,34,0,3.36,IN,1618706530

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [45]:
hotel_df = cities_temp_ws_df.reset_index()
hotel_df

,index,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,83,Umluj,25.0213,37.2685,79.32,58,0,1.90,SA,1618706392
1,178,São Filipe,14.8961,-24.4956,71.67,73,0,9.84,CV,1618706424
2,242,Salalah,17.0151,54.0924,77.00,50,0,4.61,OM,1618706444
3,253,Safaga,26.7292,33.9365,77.67,39,0,6.49,EG,1618706447
4,338,Pitimbu,-7.4706,-34.8086,73.40,100,0,5.75,BR,1618706475
5,343,Aswān,24.0934,32.9070,75.79,23,0,7.54,EG,1618706268
6,386,Maricá,-22.9194,-42.8186,78.01,83,0,2.30,BR,1618706491
7,497,Kondagaon,19.6000,81.6667,77.27,34,0,3.36,IN,1618706530

In [63]:
hotel_df['Hotel Name'] = ''
# params dictionary to update each iteration
params = {
    "location": '25.0213, 37.2685',
    "radius": 100000,
    "types": "Hotel",
    "keyword": "hotel",
    "key": g_key
}

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
hotel = requests.get(base_url, params=params).json()
hotel["results"][0]["name"]

'Royal Tours Permanent Camp'

In [65]:
hotel_df['Hotel Name'] = ''
# params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "Hotel",
    "keyword": "hotel",
    "key": g_key
}

# Use the lat/lng we recovered to identify airports
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]
    
    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

        # Use the search term: "International Airport" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    hotel = requests.get(base_url, params=params).json()
   
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotel["results"][0]["name"]
    except:
        print(f'Missing cities {lat}, {lng}')
hotel_df

,index,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,83,Umluj,25.0213,37.2685,79.32,58,0,1.90,SA,1618706392,HP Red Sea Hotel
1,178,São Filipe,14.8961,-24.4956,71.67,73,0,9.84,CV,1618706424,La Fora Ecolodge
2,242,Salalah,17.0151,54.0924,77.00,50,0,4.61,OM,1618706444,Star Emirates garden villas
3,253,Safaga,26.7292,33.9365,77.67,39,0,6.49,EG,1618706447,Lamar Resort Abu Soma
4,338,Pitimbu,-7.4706,-34.8086,73.40,100,0,5.75,BR,1618706475,Asenza Beach Resort
5,343,Aswān,24.0934,32.9070,75.79,23,0,7.54,EG,1618706268,Sofitel Legend Old Cataract Aswan
6,386,Maricá,-22.9194,-42.8186,78.01,83,0,2.30,BR,1618706491,Pousada Bela Vista Maricá
7,497,Kondagaon,19.6000,81.6667,77.27,34,0,3.36,IN,1618706530,Hotel Sai Palace

In [93]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
hotel_info
locations = hotel_df[["Lat", "Lng"]]

In [97]:
# Add marker layer ontop of heat map
locations1 = cities_df[['Lat', 'Lng']].astype(float)
humidity1 = cities_df['Humidity'].astype(float)
# hotel1 = hotel_df('Hotel Name').astype(str)
figure_layout = {
    'width': '1000px',
    'height': '700px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
    }
fig = gmaps.figure(figure_layout)

heat_layer = gmaps.heatmap_layer(locations1, weights=humidity1)
marker = gmaps.marker_layer(locations, info_box_content=[f"Poverty Rate: {hotel}" for hotel in hotel_info])

fig.add_layer(marker)
fig.add_layer(heat_layer)
fig

# Display figure

Figure(layout=FigureLayout(height='420px'))