### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as ny

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [4]:
unique_players = purchase_data['SN'].unique()
total_players = pd.value_counts(unique_players)
total_players_sum = total_players.sum()

unique_player_df = pd.DataFrame({'Unique Players': [total_players_sum]})
unique_player_df

   Unique Players
0             576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
purchase_data.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [8]:
unique_items = purchase_data['Item Name'].unique()
unique_item_count = pd.value_counts(unique_items)
unique_item_sum = unique_item_count.sum()

price_avg = purchase_data['Price'].mean()

purchase_count = purchase_data['Item Name'].count()

purchase_total = purchase_data['Price'].sum()

##price_avg.map("${:,.2f}.format") was giving error so had to use other method to do convert to Dollar in the dataframe
summary_df = pd.DataFrame({'Number of Unique Items':[unique_item_sum],
                           'Average Price': "${:,.2f}".format(price_avg), 
                           'Number of purchases': purchase_count,
                           'Total Revenue':"${:,.2f}".format(purchase_total) 
                           }
                          )
summary_df

   Number of Unique Items Average Price  Number of purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [10]:

unique_gender = purchase_data[['Gender', 'SN']]
unique_gender_drop_duplicate = unique_gender.drop_duplicates(subset=['SN'], keep='last')
count_gender = unique_gender_drop_duplicate.groupby(['Gender']).count()



##total_player_sum Used from Frist Note frame
per_gender_df = (count_gender / total_players_sum * 100)
per_gender_df = per_gender_df.astype(float).round(2)

Unique_gender_players_df = pd.merge(count_gender, per_gender_df, left_on='Gender', right_on='Gender')
Unique_gender_players_df = Unique_gender_players_df.rename(columns={'SN_x':'Total Count', 'SN_y':'Percentage of Players'})
Unique_gender_players_sort_df = Unique_gender_players_df.sort_values(['Total Count'], ascending=False)
Unique_gender_players_sort_df
Unique_gender_players_sort_df['Percentage of Players'] = Unique_gender_players_sort_df['Percentage of Players'].map("{:,.2f}%".format)
Unique_gender_players_sort_df

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
groupby_gender = purchase_data.groupby(['Gender'])

count_group_gender = groupby_gender['Purchase ID'].count()

avg_price_gender = groupby_gender['Price'].mean()

total_price_gender = groupby_gender['Price'].sum()

per_person_gender = total_price_gender / Unique_gender_players_df['Total Count']    # Using Total Count column from the dataframe in  previous step                                                                                             

summary_gender_df = pd.DataFrame({'Purchase Count':count_group_gender,
                                  'Average Purchase Price':avg_price_gender.map("${:,.2f}".format),
                                  'Total Purchas Value':total_price_gender.map("${:,.2f}".format),
                                  'Avg Total Purchase Per Person':per_person_gender.map("${:,.2f}".format)
                                 }
                                )
summary_gender_df.sort_values(['Purchase Count'], ascending=False)

,Purchase Count,Average Purchase Price,Total Purchas Value,Avg Total Purchase Per Person
Gender,,,,
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [14]:
unique_age = purchase_data[['Gender', 'SN','Age']]
unique_age_drop_dup = unique_age.drop_duplicates(subset=['SN'], keep='last')
unique_age_drop_dup

bins = [0,9,14,19,24,29,34,39,50]
labels = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

unique_age_drop_dup['View Group'] = pd.cut(unique_age_drop_dup['Age'],bins,labels = labels)
unique_age_drop_dup.head(50)
age_group = unique_age_drop_dup.groupby(unique_age_drop_dup['View Group'])
age_group_count = age_group['Age'].count()
age_group_count

# age_group_total = age_group.sum()
# age_group_total

age_group_per = age_group_count / total_players_sum *100  #total_players_sum from the first frame
age_group_per

age_bin_summary_df = pd.DataFrame({'Total Count': age_group_count,
                                   'Percent of Players': age_group_per.map("{:,.2f}%".format)
                                   })

age_bin_summary_df

ipykernel_launcher:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

            Total Count Percent of Players
View Group
<10                  17              2.95%
10-14                22              3.82%
15-19               107             18.58%
20-24               258             44.79%
25-29                77             13.37%
30-34                52              9.03%
35-39                31              5.38%
40+                  12              2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [16]:
bins = [0,9,14,19,24,29,34,39,50]
labels = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

purchase_data['View Group'] = pd.cut(purchase_data['Age'],bins,labels = labels)
purchase_data
age_group_p = purchase_data.groupby(purchase_data['View Group'])
age_group_count_p = age_group_p['Age'].count()
age_group_count_p

avg_pur_price = age_group_p['Price'].mean()

total_pur_value = age_group_p['Price'].sum()

total_pur_per_person = total_pur_value / age_group_count   #age_group_count used from previous frame
total_pur_per_person

purchase_analysis_df = pd.DataFrame({'Purchase Count': age_group_count_p,
                                     'Average Purchase Price': avg_pur_price.map("${:,.2f}".format),
                                     'Total Purchase Value': total_pur_value.map("${:,.2f}".format),
                                     'Total Purchase Per Person': total_pur_per_person.map("${:,.2f}".format)

                                    })

purchase_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Total Purchase Per Person
View Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [18]:
pur_group_sn = purchase_data.groupby(['SN'])
pur_group_sn_count = pur_group_sn['Item ID'].count()
pur_group_sn_count

pur_group_sn_avg = pur_group_sn['Price'].mean()

pur_group_sn_sum = pur_group_sn['Price'].sum()
pur_group_sn_sum

top_spender_df = pd.DataFrame({'Purchase Count':pur_group_sn_count,
                               'Average Purchase Price': pur_group_sn_avg.map("${:,.2f}".format),
                               'Total Purchase Value': pur_group_sn_sum

})

top_spender_sort_df = top_spender_df.sort_values(['Total Purchase Value'], ascending=False)
top_spender_sort_df

top_spender_sort_df['Total Purchase Value'] = top_spender_sort_df['Total Purchase Value'].map("${:,.2f}".format)
top_spender_sort_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [20]:
mp_df = purchase_data[['Item ID', 'Item Name', 'Price']]
mp_group = mp_df.groupby(['Item ID', 'Item Name'])
mp_group_count = mp_group['Item ID'].count()
mp_group_count

mp_total_pur = mp_group['Price'].sum()
mp_total_pur

mp_unique_price = mp_total_pur / mp_group_count
mp_unique_price

most_popular_df = pd.DataFrame({'Total Count':mp_group_count,
                                'Item Price': mp_unique_price.map("${:,.2f}".format),
                                'Total Purchase Value': mp_total_pur.map("${:,.2f}".format)
                              })
most_popular_df.sort_values(['Total Count'], ascending=False).head()

,,Total Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [22]:

mpro_df = purchase_data[['Item ID', 'Item Name', 'Price']]
mpro_group = mpro_df.groupby(['Item ID', 'Item Name'])

mpro_group_count = mpro_group['Item ID'].count()
mpro_group_count

mpro_total_pur = mpro_group['Price'].sum()
mpro_total_sort = mpro_total_pur.sort_values(ascending=False)
mpro_total_format = mpro_total_sort.map("${:,.2f}".format)
mpro_total_format

mpro_unique_price = mpro_total_pur / mpro_group_count
mpro_unique_price

most_profitable_df = pd.DataFrame({'Total Count':mpro_group_count,
                                'Item Price': mpro_unique_price.map("${:,.2f}".format),
                                'Total Purchase Value': mpro_total_sort
                              })

## Sort first add to a DF and then change the format                     
most_profitable_sort = most_profitable_df.sort_values(['Total Purchase Value'], ascending=False)


most_profitable_sort['Total Purchase Value'] = most_profitable_sort['Total Purchase Value'].map("${:,.2f}".format)
most_profitable_sort.head()

# #####Other Method not working yet###

# most_popular_df['Total Purchase Value'] = most_popular_df['Total Purchase Value'].str.replace('$', '').astype(float)
# # most_popular_df['Total Purchase Value'] = most_popular_df.sort_values(['Total Purchase Value'], ascending=False)
# most_popular_df.head()

,,Total Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80